body {
    	font-family: "Kalam";
			font-size: 20px;
      margin:0px;
      padding:0px;
}
th {
			border: 1px solid black;
			width: 50%;
}
table, td {
			border: 1px solid black;
}
table {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
}
#homeTest {
  background: url("background.jpg") no-repeat center;
  background-position: top center;
  margin: 0px 0px 0px 0px;
	padding: 70px 0 0 0;
  z-index:999999;
}
#cat {
  width:350px;
  margin-bottom:10px;
  border: 5px solid White;
  margin-right: 50px;
  border: 5px solid #008CBA;
}
.thumb {
    position: relative;
    width: 360px;
    height: 357px;
    margin: 10px;
    float: left;
}
.text {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #999;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    vertical-align: middle;
}
.thumb:hover .text {
    display: block;
}
.catRead {
  margin-top: 150px;
  font-size: 20px;
  color: White;
  background-color: #008CBA;
  border: none;
  border-radius: 7px;
  padding: 20px;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  vertical-align:middle;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.catRead .catSpan {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.catRead .catSpan:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.catRead:hover .catSpan {
  padding-right: 25px;
}
.catRead:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.catRead:hover .catSpan:after {
  opacity: 1;
  right: 0;
}
#biog {
  margin-top: 50px;
  margin-left: 400px;
}
#funFacts {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
#arrow1 {
  width:100px;
}
#quote {
  font-family: "Permanent Marker";
  font-size: 80px;
  color: PaleVioletRed;
  margin-top: 0px;
  line-height: 211px;
}
#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 93%;
}

#li {
    float: left;
}
#a {
  -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#li #a {
    display: block;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

#li #a:hover {
    background-color: White;
    color: Black;
}

#a.active .topNav {
    background-color: White;
    color: Black;
}
.topNav {
  margin-left: 60px;
}
#myContainer {
  width: 100%;
  height: 100px;
  position: relative;
  background: transparent;
}
#myAnimation {
  position: absolute;
}
